*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: crimson;
  /* border: 5px solid black; */
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

